<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidebar" mode="side" [opened]="isSidebarOpen">
    <mat-nav-list class="sidenav-list">
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidebar-content">
    <div class="main-wrapper">
<!--      here will be content in app component-->
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
