<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="hamburger-btn" aria-label="Button with hamburger icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Crypto charts</span>
  <span class="spacer"></span>
  <form class="autocomplete-form">
      <input type="text"
             placeholder="Pick one"
             class="autocomplete-input"
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
  </form>
  <button mat-icon-button class="search-btn" aria-label="Button with search icon" (click)="navigateToCrypto()">
    <mat-icon>search</mat-icon>
  </button>
  <a routerLink="/crypto-list">
    <button mat-icon-button class="home-btn" aria-label="Button with home icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>
</mat-toolbar>
