.toolbar {
  position: fixed;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.home-btn {
  color: #fff;
}

.autocomplete-form {

}

.autocomplete-input {
  padding: 0.75em;
  border-radius: 2px;
  border: none;
}
