<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="hamburger-btn" aria-label="Button with hamburger icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Crypto charts</span>
  <span class="spacer"></span>
  <a routerLink="/crypto-list">
    <button mat-icon-button class="home-btn" aria-label="Button with home icon">
        <mat-icon>home</mat-icon>
    </button>
  </a>
  <button mat-icon-button class="share-btn" aria-label="Button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
