<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidebar" mode="side" opened="true">
    <mat-nav-list class="sidenav-list">
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidebar-content">
<!--    tu content-->
    <div class="main-wrapper">
      <p>tesaeasease</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
